.searchBar {
  position: fixed;
  top: 0;
  z-index: 3;
  width: 100%;
}

.list_head {
  display: flex;
  justify-content: space-around;
  position: sticky;
  top: 0;
  background: #fffffff5;
  box-shadow: #0000000d 1px 0px 2px;
  padding: 1rem;
  padding-top: 7rem;
  z-index: 2;
  pointer-events: none;

  p {
    max-width: 100px;
  }
}

.list_body {
  margin-top: 2rem;
  pointer-events: none;
}

.empty_list {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  height: 90vh;

  p {
    font-size: 2rem;
  }

  img {
    max-width: 50%;
    min-width: 250px;
    pointer-events: none;
  }

  .btn_try {
    background: #3b3951;
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: 0;
  }

  .btn_try:hover {
    cursor: pointer;
    box-shadow: 1px 2px 11px 4px #bebebe;
    transition: all 300ms;
  }
}

.loading {
  font-size: 3rem;
  position: absolute;
  display: flex;
  width: 100vw;
  text-align: center;
}
