label {
  position: absolute;
  right: 225px;
  margin-top: 40px;
}

input {
  border-radius: 8px;
  border: 1px rgb(167, 167, 167) solid;
  height: 30px;
  margin-top: 30px;
  position: absolute;
  right: 60px;
}

input:focus .results_container {
  visibility: visible;
}

.results_container {
  background: white;
  border: 1px solid gery;
  width: 90%;
  border-radius: 10px;
  visibility: hidden;
}
